.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
    background-image: url(/img/fondo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    height: 100vh;
    perspective: 600px;   
}

.carta {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    
    
  }
.carta__cara {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.carta__cara--front {
    background: rgb(0, 162, 255);
    
  }
  
  .carta__cara--back {
    background: rgba(0, 0, 255, 0.397);
    transform: rotateY( 180deg );
  }

  .carta.is-flipped {
    transform: rotateY(180deg);
  }

  .imagen {
      width: 90%;
      height: 90%;
      margin: 5% 5%;
  }


  